{% extends 'base.html' %}

{% block title %}
    Pastebin
{% endblock %}

{% block content %}
    <script>
        function toggleFieldActivation() {

            let checkBox = document.getElementById("is_temporary");

            let field = document.getElementById("datetime_of_deletion");

            if (checkBox.checked) {

                field.disabled = false;

            } else {

                field.disabled = true;

            }

        }
    </script>
    <h1 class="mt-5 fs-3">Генерация сообщения</h1>
    <div class="col-6">
        <form method="post" class="needs-validation">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
{% endblock %}
