{% extends 'base.html' %}

{% block browser-title %}
    Pastebin
{% endblock %}

{% block page-title %}
    Генерация сообщения
{% endblock %}

{% block content %}
    <script>
        function toggleFieldActivation() {

            let checkBox = document.getElementById("is_temporary");

            let field = document.getElementById("datetime_of_deletion");

            if (checkBox.checked) {

                field.disabled = false;

            } else {

                field.disabled = true;

            }

        }
    </script>
    <div class="col-6">
        <form method="post" class="needs-validation">
            {% csrf_token %}
            {{ form.as_p }}
            <p>*часовой пояс <a href="https://24timezones.com/chasovoy-poyas/utc" target="_blank">UTC±0</a></p>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
{% endblock %}
