{% extends 'base.html' %}
{% load static %}

{% block browser-title %}
    Сообщение №{{ message.pk }}
{% endblock %}

{% block page-title %}
    Сообщение №{{ message.pk }}
    {% if message.author %}
        <small class="text-body-secondary">от пользователя {{ message.author.username }}</small>
    {% else %}
        <small class="text-body-secondary">от анонимного пользователя</small>
    {% endif %}
{% endblock %}

{% block content %}
    <p>
        <img src="{% static 'message/calendar.svg' %}"> Дата
        создания: {{ message.datetime_of_creation|date }} {{ message.datetime_of_creation|time:"H:i" }}
        (<a href="https://24timezones.com/chasovoy-poyas/utc" target="_blank">UTC±0</a>)
    </p>
    <br>
    <div class="card col-9">
        <div class="card-body">{{ content }}</div>
    </div>
    <br>
    <button class="btn btn-primary" onclick="copyToClipboard()">
        <img src="{% static 'message/copy.svg' %}"> Скопировать ссылку на сообщение
    </button>
    {% if user.is_authenticated and message.author_id == user.pk %}
        <a href="{% url 'delete_message' message.uuid_url %}" class="btn btn-danger">
            <img src="{% static 'message/delete.svg' %}"> Удалить сообщение
        </a>
    {% endif %}
    <script>
        function copyToClipboard(text) {
            var inputc = document.body.appendChild(document.createElement("input"));
            inputc.value = window.location.href;
            inputc.focus();
            inputc.select();
            document.execCommand('copy');
            inputc.parentNode.removeChild(inputc);
            alert("URL успешно скопирован.");
        }
    </script>
{% endblock %}