{% extends 'base.html' %}

{% block browser-title %}
    Сообщение №{{ message.pk }}
{% endblock %}

{% block page-title %}
    Сообщение №{{ message.pk }}
    {% if message.author %}
        <small class="text-body-secondary">от пользователя {{ message.author.username }}</small>
    {% else %}
        <small class="text-body-secondary">от анонимного пользователя</small>
    {% endif %}
{% endblock %}

{% block content %}
    <p>
        <i class="bi bi-calendar-week-fill"></i> Дата создания:
        {{ message.datetime_of_creation|date }} {{ message.datetime_of_creation|time:"H:i" }}
        (<a href="https://time.is/ru/Moscow" target="_blank">MSK</a>)
    </p>
    <br>
    <div class="card col-9">
        <div class="card-body">{{ content }}</div>
    </div>
    <br>
    <button class="btn btn-primary" onclick="copyToClipboard()">
        <i class="bi bi-copy"></i> Скопировать ссылку на сообщение
    </button>
    {% if user.is_authenticated and message.author_id == user.pk %}
        <a href="{% url 'delete_message' message.uuid_url %}" class="btn btn-danger">
            <i class="bi bi-trash"></i> Удалить сообщение
        </a>
    {% endif %}
    <script>
        function copyToClipboard(text) {
            var inputc = document.body.appendChild(document.createElement("input"));
            inputc.value = window.location.href;
            inputc.focus();
            inputc.select();
            document.execCommand('copy');
            inputc.parentNode.removeChild(inputc);
            alert("URL успешно скопирован.");
        }
    </script>
{% endblock %}