{% extends 'base.html' %}

{% block browser-title %}
    Сообщение №{{ message.pk }}
{% endblock %}

{% block page-title %}
    Сообщение №{{ message.pk }}
    {% if message.author %}
        <small class="text-body-secondary">от пользователя {{ message.author.username }}</small>
    {% else %}
        <small class="text-body-secondary">от анонимного пользователя</small>
    {% endif %}
{% endblock %}

{% block content %}
    <p>
        Дата создания: {{ message.datetime_of_creation|date }} {{ message.datetime_of_creation|time:"H:i" }}
        (<a href="https://24timezones.com/chasovoy-poyas/utc" target="_blank">UTC±0</a>)
    </p>
    <br>
    <div class="card col-9">
        <div class="card-body">{{ content }}</div>
    </div>
    <br>
    <button class="btn btn-primary" onclick="copyToClipboard()">Скопировать ссылку на сообщение</button>
    <script>
        function copyToClipboard(text) {
            var inputc = document.body.appendChild(document.createElement("input"));
            inputc.value = window.location.href;
            inputc.focus();
            inputc.select();
            document.execCommand('copy');
            inputc.parentNode.removeChild(inputc);
            alert("URL успешно скопирован.");
        }
    </script>
{% endblock %}