{% extends 'base.html' %}

{% block content %}
    {% block messages %} {% endblock %}
    <br>
    <nav aria-label="Пагинация">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                       aria-label="Предыдущая страница">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for position in paginator.page_range %}
                {% if position >= page_obj.number|add:-2 and position <= page_obj.number|add:2 %}
                    <li class="page-item"><a class="page-link" href="?page={{ position }}">{{ position }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}"
                       aria-label="Следующая страница">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}